<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Angular VS React</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="shower/themes/ribbon/styles/screen-16x10.css">
</head>
<body class="shower list">

	<header class="caption">
		<h1>Angular VS React</h1>
	</header>

	<section class="slide" id="cover" style="text-align:center;">
		<h2 style="font-size:80px;">Angular VS React</h2>
		<figure>
			<img src="pictures/cover.png" alt="Angular VS React">
		</figure>
	</section>

	<section class="slide" id="2">
		<h2 class="shout" style="font-size: 80px">Angular это фреймворк<br><br>React — библиотека</h2>
	</section>

	<section class="slide" id="3">
		<figure>
			<img class="cover" src="pictures/bicycle-2.jpg" alt="Собранный велосипед">
			<figcaption class="white">
				<a href="https://www.flickr.com/photos/superprecise/4410291313/">© Joshua</a>
			</figcaption>
		</figure>
		<style>
			#picture h2 {
				color:#FFF;
				}
		</style>
	</section>

	<section class="slide" id="4">
		<figure>
			<img class="cover" src="pictures/bicycle-1.jpg" alt="Разобранный велосипед">
			<figcaption>
				<a href="https://www.flickr.com/photos/superprecise/4069907689/">© Joshua</a>
			</figcaption>
		</figure>
		<style>
			#picture h2 {
				color:#FFF;
				}
		</style>
	</section>

	<section class="slide">
		<div style="width:50%; float:left">
			<h2>Angular</h2>
			<ul>
				<li>Partials</li>
				<li>Directives</li>
				<li>Controllers</li>
				<li>Services</li>
				<li>Scope</li>
				<li>Filters</li>
			</ul>
		</div>
		<div style="width:50%; float:left">
			<h2>React</h2>
			<ul>
				<li>JSX</li>
				<li>Глупые компоненты</li>
				<li>Умные компоненты</li>
				<li>Props</li>
				<li>State</li>
			</ul>
		</div>
	</section>

	<section class="slide">
		<p data-height="470" data-theme-id="light" data-slug-hash="bqdMaw" data-default-tab="html,result" data-user="kisonic" data-embed-version="2" data-pen-title="bqdMaw" class="codepen">See the Pen <a href="http://codepen.io/kisonic/pen/bqdMaw/">bqdMaw</a> by kisonic (<a href="http://codepen.io/kisonic">@kisonic</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</section>

	<section class="slide">
		<h2 class="shout" style="font-size: 80px">Two-way data binding<br><br>One-way data flow</h2>
	</section>

	<section class="slide">
		<h2>Angular</h2>
		<pre><code>{{myVar}} <span class="comment">//One-way binding</span></code></pre>
		<pre><code>ng-model="myVar" <span class="comment">//Two-way binding</span></code></pre>
		<p data-height="180" data-theme-id="light" data-slug-hash="BWoKyp" data-default-tab="html,result" data-user="kisonic" data-embed-version="2" data-pen-title="Two-way binding" class="codepen">See the Pen <a href="http://codepen.io/kisonic/pen/BWoKyp/">Two-way binding</a> by kisonic (<a href="http://codepen.io/kisonic">@kisonic</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</section>

	<section class="slide">
		<h2>React</h2>
		<pre><code>{ myVar }</code></pre>
	</section>

	<section class="slide">
		<h2 class="shout" style="font-size: 80px">Angular помещает JS в HTML<br><br>React помещает HTML в JS</h2>
	</section>

	<section class="slide">
		<h2>Итерации в Angular 2</h2>
		<pre>
			<code>&lt;ul&gt;</code>
			<code>    &lt;li *ngFor="#hero of heroes"&gt;</code>
			<code>        {{hero.name}}</code>
			<code>    &lt;/li&gt;</code>
			<code>&lt;/ul&gt;</code>
		</pre>
	</section>

	<section class="slide">
		<h2>Итерации в React</h2>
		<pre>
			<code>&lt;ul&gt;</code>
			<code>    { heroes.map(hero =></code>
			<code>        &lt;li key={ hero.id }&gt;{ hero.name }&lt;/li&gt;</code>
			<code>    ) }</code>
			<code>&lt;/ul&gt;</code>
		</pre>
	</section>

	<section class="slide">
		<h2>Итерации в популярных JavaScript фреймворках/библиотеках</h2>
		<ul>
			<li>Ember: <code>{{# each}}</code></li>
			<li>Angular 1: <code>ng-repeat</code></li>
			<li>Angular 2: <code>ngFor</code></li>
			<li>Knockout: <code>data-bind=”foreach”</code></li>
			<li>React: JUST USE JS 🤓</li>
		</ul>
	</section>

	<section class="slide">
		<h2 class="shout" style="font-size: 80px">MV*<br><br>State Machine</h2>
	</section>

	<section class="slide">
		<h2>Ещё? Ещё!</h2>
		<ul>
			<li><a href="https://habrahabr.ru/post/250149/">Паттерны в AngularJS</a></li>
			<li><a href="https://habrahabr.ru/post/274523/">Angular 2 против React: И будет кровь</a></li>
			<li><a href="http://devacademy.ru/posts/sravnenie-angularjs-i-react/">Сравнение AngularJS и React</a></li>
			<li><a href="http://www.codehint.ru/articles/2013-08-03_model_view_controller_mvc_angularjs">Как шаблон проектирования Model-View-Controller (MVC) работает в AngularJS?</a></li>
		</ul>
	</section>

	<footer class="badge">
		<a href="https://github.com/shower/shower">Fork me on GitHub</a>
	</footer>

	<div class="progress"></div>

	<script src="shower/shower.min.js"></script>
	<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	<!-- Copyright © 2017 Yours Truly, Famous Inc. -->

</body>
</html>
